<p>actualiza works!</p>  
  
<br>

  <form class="form-group-row">
      <div class="form-group col-md-3">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="cuadroNombre"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="nombre">Apellidos</label>
        <input type="text" name="apellidos" id="apellidos" class="form-control" [(ngModel)]="cuadroApellidos"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="nombre">Cargo</label>
        <input type="text" name="cargo" id="cargo" class="form-control" [(ngModel)]="cuadroCargo"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="nombre">Salario</label>
        <input type="number" name="salario" id="salario" class="form-control" [(ngModel)]="cuadroSalario"
        />
      </div>
      <br>
  <div class="col"></div>
      <button type="submit" class="btn btn-primary" (click)="actualizaEmpleado()">Actualizar</button>
    </form>
<br>
    <div>
        <button (click)="volverHome()" class="btn btn-primary">Volver a Home</button>
        <button (click)="irAQuienes()" class="btn btn-primary">Ir a quienes</button>
      </div>