<h3>Some statistics about our database:</h3>
<ul class="list-group">
  <li class="list-group-item">Number of songs:  {{ getCanciones().length }} </li>
  <li class="list-group-item">Number of playlists: {{ getPlaylists().length }} </li>
  <li class="list-group-item">Average number of songs in playlists: {{ getPromedioArtistas() }} </li>
  <li class="list-group-item">Number of artists: {{getArtistas()}} </li>
  <li class="list-group-item">Top song by length: {{ topSongByLength().title }}, {{ topSongByLength().artist }}, ({{ topSongByLength().length | TiempoPipe }}) </li>
  <li class="list-group-item">(ADVANCED) Top artist by songs: </li>
</ul>
<h5>Artists ordered by number of songs</h5>
<ul class="list-group">
  <!-- (ADVANCED) LISTADO DE ARTISTAS ORDENADO DE MAYOR A MENOR NÚMERO DE CANCIONES EN LA BD -->
</ul>
