<h1>¡Hola!</h1>
<p>Éstos son los tres productos nuevos</p>

<table>
  <tr>
    <td>Categoría</td>
    <td>Fabricante</td>
    <td>Nombre</td>
    <td>Precio</td>
  </tr>
    @for (articulo of getArticulosRecientes(); track articulo.id) {     <!-- bucle for para recorrer los articulos mas recientes. llama a la funcion del componente, la cual ésta función llama a la función de articulos recientes del servicio -->
      <tr>
        <td>{{articulo.cat}}</td>
        <td>{{articulo.fab}}</td>
        <td>{{articulo.nombre}}</td>
        <td>{{articulo.precio}}</td>
    </tr>
      }
</table>
