<h3>Buscar</h3>

<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="categoriesNav">
            <ul class="navbar-nav">
              @for (c of getCategorias(); track c.id) {
                <li class="nav-item">
                  <!--  <a (click)="cat = 1" class="nav-link">Procesadores</a> -->
                  <a (click)="getCategorias()" class="nav-link">{{c.nombre}}</a>
                </li>
              }
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="manufacturersNav">
            <ul class="navbar-nav">
              @for (f of getFabricantes(); track f.id) {                          <!-- ATENCION: para usar las pipes, hay que trackear con el atributo del objeto 'id' -->
                <li class="nav-item">
                  <!-- <a (click)="fab = 1" class="nav-link">AMD</a> -->
                  <a (click)="fab = f.id" class="nav-link">{{f.nombre}}</a>
                </li>
              }
            </ul>
        </div>
    </nav>
</div>

<div class="row">
    <div class="input-group mb-3">                  <!-- el "#" es un identificador, para poder acceder al value etc -->
        <input #pattern (keyup)="patron = pattern.value" type="text" class="form-control" placeholder="Buscar por nombre"
                aria-label="Buscar por nombre" aria-describedby="basic-addon2">     <!-- con un evento de keyup, se modifica la propiedad 'patron' que está en el ts de este componente. (sin llamar a función) -->
        <div class="input-group-append">
            <button (click)="patron = pattern.value" class="btn btn-primary" type="button">     <!-- con un evento de click, se modifica la propiedad 'patron' que está en el ts de este componente. (sin llamar a función) -->
                Buscar
            </button>
        </div>
    </div>
</div>

<ng-container>
    <div class="row">
        <h5>Resultados de búsqueda</h5>
    </div>
    <div class="row">
        <div class="row row-cols-md-5">
            <!-- AQUÍ VA UNA REPETICIÓN DE LLAMADAS AL COMPONENTE ARTICULO -->
            @for (articulo of getArticulos() | filtroPatron:pattern.value | filtroCat:cat | filtroFab:fab; track articulo.id) {     <!-- cada vez que se escribe o presiona el botón buscar (no es un evento), llama a la función getArticulos(), y va filtrando con el patrón (con los pipes) y/o filtros  -->
              <app-articulo [articulo] = "articulo"></app-articulo>                                             <!-- ATENCION: USAR/PASAR EXACTAMENTE EL MISMO NOMBRE DE LAS PROPIEDADES DE UN OBJETO -->
            }
        </div>
    </div>
</ng-container>
