<div class="card text-center bg-light mb-2 mr-2">
    <a>
        <img src="{{articulo.imagen}}" class="card-img-top">
    </a>
    <div class="card-body">
        <h5 class="card-title">{{articulo.nombre}}</h5>
        <p class="card-text">{{articulo.precio | currency:'EUR':'symbol':'1.2-2'}}</p>
        <button class="btn btn-primary" *ngIf="articulo.stock" (click)="addCart(articulo)">Comprar</button>
        <button class="btn btn-danger" *ngIf="!articulo.stock" disabled>Sin stock</button>
    </div>
</div>